.table-container {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.table th {
  background-color: #333333a2;
  color: #ffffff;
}

.table td {
  background-color: #f0f5ff;
  color: #333333;
}

.table tbody tr:nth-child(even) td {
  background-color: #e6efff;
}

.table tbody tr:hover td {
  background-color: #b3d7ff;
}
