.nav {
  background-color: #f0f0f0; /* Gray background color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul li {
  display: inline-block;
  margin-right: 10px;
}

.nav ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #808080; /* Gray button color */
  transition: background-color 0.3s ease;
}

.nav ul li a:hover {
  background-color: #999999; /* Darker gray button color on hover */
  color: #ffffff; /* Text color on hover */
}
